// 声明变量
$highlight-color: #ffffff;
$nav-color: #F90;

// 变量引用
nav {
    $width: 100px;
    width: $width;
    color: $nav-color;
}

.selected {
    border: 1px solid $highlight-color;
}

// 变量名用中划线和下划线分隔 等效
$link-color: blue;
a {
    color: $link_color;
}

// 嵌套CSS规则
#content {
    article {
        h1 { color: #333 }
        p { margin-bottom: 1.4rem; }
    }
    aside { background-color: #EEE; }
}

#content {
    background-color: #f5f5f5;
    aside { background-color: #eee }
}

// 父选择器的标识符&
article a {
    color: blue;
    &:hover { color: red; }
}

#content aside {
    color: red;
    body.ie & { color: green; }
}