/* 全局样式 */
html {font-size: 100px; width: 100%;}
body {margin: 0;}

ul {
    margin: 0;
    padding: 0;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #1c1c1c;    
}

div,a,img {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select:none;
}



.header {
    margin: 0;
    margin-bottom: 0.44rem;
    width: 100%;
    height: 2rem;
    background:url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516611774613&di=eee7e87af0600585c829d43464c97d2a&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2F34fae6cd7b899e5125cfbf3349a7d933c8950d57.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
    -webkit-background-origin:content-box; /* Safari */
    background-origin:content-box;
    font-size: 0;
}

.weather {
    position: relative;
    width: 98%;
    height: 0.65rem;
    padding-top: 0.6rem;
    padding-left: 0.28rem;
    margin-bottom: 0.1rem;
}

.weather-title {
    display: inline-block;
    margin: 0;
    margin-right: 0.15rem;
    font-size: 0.65rem;
    color: white;
}

.temperature {
    display: inline-block;
    margin-left: 0.16rem;
    margin: 0;
    font-size: 0.65rem;
    color: white;
}

.tips {
    float: right;
    margin: 0;
    margin-right: 0.3rem;
    margin-top: 0.15rem;
    width: 50%;
    font-size: 0.26rem;
    text-align: right;
    color: white;
}

.pm25 {
    margin-left: 0.28rem;
    color: #b9b7b5;
    font-size: 0.24rem;
}

.pm-value {
    color: #ffffff;
}

.detail {
    position: relative;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    height: 0.4rem;
}

.detail p {
    display: inline-block;
    line-height: 0.4rem;
    font-size: 0.25rem;
}

.detail i {
    font-size: 0.4rem;
}

.year {
    float: left;
    margin: 0;
    margin-top: 0.03rem;
    margin-left: 0.14rem;
    color: #6b6d6f;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.detail-data {
    float: right;
    margin: 0;
    margin-top: 0.03rem;
    margin-right: 0.10rem;
    color: #bbbcbc;
}

.calendar {
    float: left;
    color: #b6b7b7;
}

.right-arrow {
    float: right;
    color: #6c6e70;
}

.statistic {
    display: block;
    margin-top: 0.3rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    height: 4rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #d6d6d7;
    border-radius: 0.15rem;
}

.distance p {
    display: inline-block;
}

.distance span {
    margin-left: 0.22rem;
    font-size: 0.22rem;
    color: #5d5c61;
}

.dist-unit {
    margin: 0;
    margin-top: 1.03rem;
    margin-left: 0.25rem;
    font-size: 0.36rem;
    color: #4c4b51;
}

.dist-val {
    float: right;
    margin: 0;
    margin-top: 0.49rem;
    margin-right: 0.23rem;
    font-size: 0.95rem;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #6b6d6f;
}

.seperate-line {
    display: block;
    margin-top: 0.46rem;
    margin-left: 0.25rem;
    margin-right: 0.23rem;
    height: 0.01rem;
    background-color: #acadae;
}

.count-unit {
    margin-top: 0.82rem;
}

.count-val {
    margin-top: 0.35rem;
    margin-bottom: 0.48rem;
}


.start {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.avatar-collect {
    margin: 0 auto;
    width: 2.75rem;
}

.start-tips {
    margin: 0;
    width: 100%;
    font-size: 0.31rem;
    text-align: center;
}

.start-tips span {
    color: #f47b10;
}

.avatar-collect img {
    width: 100%;
}

.start-btn {
    margin-top: 0.95rem;
    width: 100%;
    /* height: 1.03rem; */
}

.start a {
    display: block;
    padding-top: 0.28rem;
    margin: 0 auto;
    margin-bottom: 0.8rem;
    font-size: 0.38rem;
    color: #ffffff;
    background-color: #f47b10;
    width: 49.6%;
    height: 0.71rem;
    text-align: center;
    border-radius: 0.5rem;
}