/* 全局样式 */
html {font-size: 100px; width: 100%;}
body {
    margin: 0;
    font-size: 0;
}

p {
    margin: 0;
    font-size: 0.24rem;
}

ul {
    margin: 0;
    padding: 0;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #1c1c1c;    
}

.chart-wrap {
    position: relative;
    width: 100%;
    height: 3.3rem;
}

#chart {
    width: 95%;
    height: 2.38rem;
}

.xUnit {
    margin-top: 0.28rem;
    margin-left: 0.2rem;
    font-size: 0.2rem;
    color: #a2a3a8;
}

.yUnit {
    float: right;
    margin-right: 0.3rem;
    margin-top: 0.24rem;
    font-size: 0.2rem;
    color: #a2a3a8;
}

.pace-value {
    font-size: 0.2rem;
    color: #555558;
}

.cycle-icon {
    display: inline-block;
    width: 0.17rem;
    height: 0.17rem;
    border-radius: 0.2rem;
    background-color: red;
}

.pace-left {
    display: inline-block;
    margin-left: 0.2rem;
}

.pace-right {
    float: right;
    margin-right: 0.3rem;
}

.average {
    background-color: #b8b7be;
}

.fast {
    background-color: #62ddbd;
}

.slow {
    background-color: #fb7e8b;
}