/* 全局样式 */
html {font-size: 100px; width: 100%;}
body {
    margin: 0;
    font-size: 0;
}

p {
    margin: 0;
    font-size: 0.24rem;
}

ul {
    margin: 0;
    padding: 0;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #1c1c1c;    
}

.chart-wrap {
    position: relative;
    width: 100%;
    height: 3.3rem;
}

#chart {
    width: 95%;
    height: 2.38rem;
}

.xUnit {
    margin-top: 0.28rem;
    margin-left: 0.2rem;
    font-size: 0.2rem;
    color: #a2a3a8;
}

.yUnit {
    float: right;
    margin-right: 0.3rem;
    margin-top: 0.24rem;
    font-size: 0.2rem;
    color: #a2a3a8;
}

.pace-value {
    font-size: 0.2rem;
    color: #555558;
}

.cycle-icon {
    display: inline-block;
    width: 0.17rem;
    height: 0.17rem;
    border-radius: 0.2rem;
    background-color: #b8b7be;
}

.pace-left {
    display: inline-block;
    margin-left: 0.2rem;
}

.pace-right {
    float: right;
    margin-right: 0.3rem;
}

.average {
    background-color: #b8b7be;
}

.fast {
    background-color: #62ddbd;
}

.slow {
    background-color: #fb7e8b;
}

.content-list {
    font-size: 0.3rem;
}

.list-header table {
    width: 100%;
}

.header-item {
    position: relative;
    display: inline-block;
    width: 32%;
    top: 50%;
    transform: translateY(-50%);
}

.p-left {
    text-align: left;
}

.p-right {
    text-align: right;
}

.p-center {
    text-align: center;
}

.list-header p {
    display: inline-block;
    font-size: 0.3rem;
    color: #a2a3a8;
}

.list-header {
    background-color: #f5f5f5;
    height: 0.86rem;
}

.table-icon {
    font-size: 0.3rem;
    color: #a2a3a8;
}

.table-left-margin {
    margin-left: 0.4rem;
}

.table-right-margin {
    margin-right: 0.4rem;
}

.content-list {
    margin-top: 0.36rem;
}

.list-li {
    background-color: #ffffff;
    height: 0.86rem;
}

.list-li p {
    display: inline-block;
    font-size: 0.27rem;
    color: #7f7f84;
}

.list-li span {
    font-size: 0.27rem;
    color: #7f7f84;
    margin-left: 0.1rem;
}

