/* 全局样式 */
html {font-size: 100px; width: 100%;}
body {
    margin: 0;
    font-size: 0;
}

p {
    margin: 0;
    font-size: 0.24rem;
}

ul {
    margin: 0;
    padding: 0;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #1c1c1c;    
}

#chart {
    width: 100%;
    height: 2.38rem;
}