/* 全局样式 */
html {font-size: 100px; width: 100%;}
body {
    margin: 0;
    font-size: 0;
}

p {
    margin: 0;
    font-size: 0.24rem;
}

ul {
    margin: 0;
    padding: 0;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #1c1c1c;    
}

.title-date {
    margin-left: 0.13rem;
    margin-top: 0.25rem;
    height: 0.45rem;
    width: 2.29rem;
    background-color: #a9aab2;
    border-style: none;
    border-radius: 0.225rem;
}

.date {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 0.21rem;
    color: #ffffff;
}

.content {
    width: 100%;
}

#chart {
    width: 100%;
    height: 2rem;
}