/* 全局样式 */
html {font-size: 100px; width: 100%;}
body {
    margin: 0;
    font-size: 0;
}

p {
    margin: 0;
    font-size: 0.24rem;
}

ul {
    margin: 0;
    padding: 0;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #1c1c1c;    
}

.header {
    width: 100%;
    height: 3.47rem;
    background: url("../img/bg-img.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
}

.portrait img {
    margin-top: 0.52rem;
    width: 1.18rem;
    height: 1.18rem;
    border-style: solid;
    border-width: 0.02rem;
    border-radius: 0.59rem;
    border-color: #d0d1d9;
}

.portrait {
    width: 1.18rem;
    margin: 0 auto;
}

.header p {
    color: #e7e7e7;
    text-align: center;
}

.nickname {
    margin-top: 0.26rem;
    font-size: 0.3rem;
}

.starttime {
    margin-top: 0.39rem;
    font-size: 0.24rem;
}

.top-item {
    display: inline-block;
    /* margin-top: 0.55rem; */
    height: 1.98rem;
    width: 49.9%;
}

.top-item p {
    margin-top: 0.55rem;
    font-size: 0.54rem;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-align: center;
    color: #60616a;
}

.top-item i {
    margin-right: 0.08rem;
    font-size: 0.3rem;
    color: #c2c2c2;
}

.top-item span {
    color: #4b4b4b;
    font-size: 0.22rem;
}

.top-item div {
    margin-top: 0.15rem;
    text-align: center;
}

.right-border {
    border-right: solid;
    border-right-color: #bdbec3;
    border-right-width: 0.01rem;
}

.item {
    display: inline-block;
    height: 2.84rem;
    width: 33.2%;
}

.value {
    margin-top: 0.55rem;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 0.39rem;
    color: #91929c;
}

.unit {
    margin-top: 0.26rem;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 0.24rem;
    color: #a2a3a8;
}

.item i {
    font-size: 0.5rem;
    text-align: center;
    color: #908f95;
}

.item div {
    margin-top: 0.35rem;
    margin-bottom: 0.42rem;
    text-align: center;
}

.right-border {
    border-right: solid;
    border-right-color: #bdbec3;
    border-right-width: 0.01rem;
}

.top-border {
    border-top: solid;
    border-top-color: #bdbec3;
    border-top-width: 0.01rem;
}

.bottom-border {
    border-bottom: solid;
    border-bottom-color: #bdbec3;
    border-bottom-width: 0.01rem;
}