# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = false

# Matches multiple files with brace expansion notation
# Set default charset
[*.js]
charset = utf-8
indent_size = 2

[*.jsx]
charset = utf-8
indent_size = 2
indent_style = space

[*.vue]
charset = utf-8
indent_size = 2
indent_style = space

[*.wxml]
charset = utf-8
indent_size = 2
indent_style = space

[*.wxss]
charset = utf-8
indent_size = 2
indent_style = space

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4

[*h]
indent_style = space
indent_size = 4

[*m]
indent_style = space
indent_size = 4

[*swift]
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

# Indentation override for all JS under lib directory
[lib/**.js]
indent_style = space
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
