<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transition</title>
    <link rel="stylesheet" type="text/css" href="css/transition.css">
</head>
<body>
    <div id="demo">
        <button v-on:click="show = !show">
            Toggle
        </button>
        <transition name="fade">
            <p v-if="show">hello</p>
        </transition>
    </div>

    <div id="example-1">
        <button @click="show = !show">
            Toggle render
        </button>
        <transition name="slide-fade">
            <p v-if="show">hello Lix</p>
        </transition>
    </div>

    <div id="example-2">
        <anchored-heading :level="1">Hello world!</anchored-heading>
    </div>

<script src="js/vue.js"></script>
<script src="js/transiton.js"></script>

</body>
</html>