<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>{{ message }}</p>
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息!
        </span>
    </div>

    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">逆转消息</button>
    </div>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
    <div id="app-7">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
        </ol>
    </div>
    <div id="example">
        this is example element
    </div>
    <div id="app-8">
        <span>Message : {{ msg }}</span>
        <br>
        <span v-once> This will never change: {{ msg }}</span>
    </div>
    <div v-html="rawHtml" id="app-11">测试输出rawHtml</div>
    <div v-bind:id="dynamicId" id="app-9">{{ ok ? 'gogogo' : 'NONONO' }}</div>
    <button v-bind:disabled="someDynamicCondition" id="app-10">Button</button>
    <p v-if="seen" id="app-12">Now you see me</p>
    <a v-bind:href="url" id="app-13">URL</a>
    <button v-on:click="greet" id="app-13">Greet</button>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: '页面加载于' + new Date()
            }
        })

        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: false
            }
        })

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    { text: '学习 JavaScript'},
                    { text: '学习Vue'},
                    { text: 'Originlee'}
                ]
            }
        })

        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function() {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })

        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hello Vue!'
            }
        })

        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })

        var app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [
                    { text: '蔬菜' },
                    { text: '奶酪'},
                    { text: '葡萄么'}
                ]
            }
        })

        //构造器
        var vm = new Vue({
            //选项
        })

        var MyComponent = Vue.extend({
            //扩展选项
        })

        var myComponentInstance = new MyComponent()

        //属性与方法
        var data = { a: 1 }
        var vm = new Vue({
            data: data
        })
        if (vm.a === data.a) {
            console.log("vm.a === data.a = " + vm.a)
        }
        vm.a = 2
        console.log("data.a = " + data.a)
        var data = {a: 1}
        var vm = new Vue({
            el: '#example',
            data: data,
            created: function() {
                console.log('a is ' + this.a)
            }
        })
        console.log("vm$data === " + vm.$data.a)
        vm.$el = document.getElementById('example')
        console.log( "vm.$el = " + vm.$el)
        vm.$watch('a', function(newVal, oldVal) {
            console.log("$watch 回调 " + "newVal = " + newVal + "oldVal = " + oldVal)
        })
        vm.a = 20

        //模板
        var app8 = new Vue({
            el: '#app-8',
            data: {
                msg: '这是一个模板栗子'
            }
        })
        setTimeout(function() {
            app8.$data.msg = "现在换一个栗子"
        }, 1000)

        //属性
        var app9 = new Vue({
            el: '#app-9',
            data: {
                ok: true
            }
        })

        var app10 = new Vue({
            el: '#app-10',
            data: {
                someDynamicCondition: true
            }
        })

        var app12 = new Vue({
            el: '#app-12',
            data: {
                seen: true
            }
        })

        var app13 = new Vue({
            el: '#app-13',
            data: {
                url: 'http://www.baidu.com'
            },
            methods: {
                greet: function() {
                    alert('Greet')
                }
            }
        })

    </script>
</body>
</html>