var tools = {
  valueText: function (type, value) {
    console.log(type)
    // return 'Hello world'
    if (type == 1) {
      return '-' + value
    } else if (type == 2) {
      return '+' + value
    }
    return value

    // console.log(icon + item.value)
    // return icon + item.value
  }
}

module.exports = {
  valueText: tools.valueText
}
