body {
    background: #00334b;
    color: #fff;
}

.continer {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

input, .task-item, button {
border-radius: 3px;
padding: 10px;
}

input[type=text], input[type=date] {
    border: 0;
    display: block;
    width: 100%;
}

button {
    display: inline-block;
}

.task-item {
    background: #fff;
    color: #333;
    margin-bottom: 2px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    cursor: pointer;
    -webkit-transition: background .1s;
    -moz-transition: background .1s;
    -ms-transition: background .1s;
    -o-transition: background .1s;
    transition: background .1s;
}

.task-item:hover {
    background: #ddd;
}