@import "base";

/*=============================================
=            Attention_seekers            =
=============================================*/

@import "./attention_seekers/bounce";
@import "./attention_seekers/flash";
@import "./attention_seekers/pulse";
@import "./attention_seekers/rubberBand";
@import "./attention_seekers/shake";
@import "./attention_seekers/swing";
@import "./attention_seekers/tada";
@import "./attention_seekers/wobble";

/*=====  End of Attention_seekers  ======*/

#root > div {
    width: 300px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}
