<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="user-scalable=no"/>
    <script>
        !function(e){function t(a){if(i[a])return i[a].exports;var n=i[a]={exports:{},id:a,loaded:!1};return e[a].call(n.exports,n,n.exports,t),n.loaded=!0,n.exports}var i={};return t.m=e,t.c=i,t.p="",t(0)}([function(e,t){"use strict";Object.defineProperty(t,"__esModule",{value:!0});var i=window;t["default"]=i.flex=function(e,t){var a=e||100,n=t||1,r=i.document,o=navigator.userAgent,d=o.match(/Android[\S\s]+AppleWebkit\/(\d{3})/i),l=o.match(/U3\/((\d+|\.){5,})/i),c=l&&parseInt(l[1].split(".").join(""),10)>=80,p=navigator.appVersion.match(/(iphone|ipad|ipod)/gi),s=i.devicePixelRatio||1;p||d&&d[1]>534||c||(s=1);var u=1/s,m=r.querySelector('meta[name="viewport"]');m||(m=r.createElement("meta"),m.setAttribute("name","viewport"),r.head.appendChild(m)),m.setAttribute("content","width=device-width,user-scalable=no,initial-scale="+u+",maximum-scale="+u+",minimum-scale="+u),r.documentElement.style.fontSize=a/2*s*n+"px"},e.exports=t["default"]}]);  flex(100, 1);
    </script>
    <script src="js/vue.js"></script>
    <title>跑步详情</title>
    <link rel="stylesheet" href="css/normailze.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/pace-chart.css">
</head>
<body>
    <div id="app">
        <div class="chart-wrap">
            <p class="xUnit">配速：分钟/公里</p>
            <div id="chart"></div>
            <p class="yUnit">跑步里程：公里</p>
        </div>
        <div class="pace-value">
            <div class="pace-left">
                <div class="cycle-icon average"></div>
                <span>平均：{{ avgPace }}</span>
            </div>
            <div class="pace-right">
                <div class="cycle-icon fast"></div>
                <span>最快：{{ maxPace }}</span>
            </div>
            <div class="pace-right">
                <div class="cycle-icon slow"></div>
                <span>最慢：{{ minPace }}</span>
            </div>
         </div>
         <div class="content-list">
             <div class="list-header">
                 <div class="header-item p-left">
                    <i class="iconfont table-icon table-left-margin">&#xe60b;</i>
                    <p>公里</p>
                 </div>
                 <div class="header-item p-center">
                    <i class="iconfont table-icon">&#xe6ba;</i>
                    <p>累计耗时</p>
                </div>
                <div class="header-item p-right">
                    <i class="iconfont table-icon">&#xe64c;</i>
                    <p class="table-right-margin">每公里耗时</p>
                </div>
             </div>
             <ul>
                <li class="list-li" v-for="model in paceArr">
                    <div class="header-item p-left">
                        <div v-bind:class="cycleIconClass(model.pace)"></div>
                        <p v-if="model.distance_index === paceArr.length">≤</p>
                        <p>{{ model.distance_index }}</p><span>KM</span>
                        </div>
                        <div class="header-item p-center">
                        <p>{{ getTimeFromSeconds(model.total_time, true) }}</p>
                    </div>
                    <div class="header-item p-center">
                        <p>{{ getTimeFromSeconds(model.pace, false) }}</p>
                    </div>
                </li>
            </ul>
         </div>
    </div>
</body>
<script src="js/axios.js"></script>
<script src="js/echarts.js"></script>
<script>

    // 获取配速数组最大最小值
    Array.prototype.max = function () { 
        return Math.max.apply({},this); 
    } 
    Array.prototype.min = function () { 
        return Math.min.apply({},this); 
    }

    function formatTime(dt, hasHour) {
        var h = dt.getHours(),
            m = dt.getMinutes(),
            s = dt.getSeconds(),
            r = "";
        if (hasHour) {
            r += (h > 9 ? h.toString() : "0" + h.toString()) + ":";
            r += (m > 9 ? m.toString() : "0" + m.toString()) + ":"
            r += (s > 9 ? s.toString() : "0" + s.toString());
        } else {
            r += (m > 9 ? m.toString() : "0" + m.toString()) + "'"
            r += (s > 9 ? s.toString() : "0" + s.toString()) + '"';
        }
        return r;
    }

    var vm = new Vue({
        el: '#app',
        data: {
            paceArr: [],
            xData: [],
            yData: [],
            maxPace: '-',
            minPace: '-',
            avgPace: '-',
        },
        created () {
            var data = { 'data' : 1 };
            var bridge = window.webkit.messageHandlers.getPaceChartData;
            bridge.postMessage(data);
        },
        methods: {
            setPaceChartData (data) {
                console.log(data);
                this.xData = data.xData;
                this.yData = data.yData;
                this.paceArr = data.paceArr;
                this.maxPace = data.paceData.maxValue;
                this.minPace = data.paceData.minValue;
                this.avgPace = data.paceData.avgValue;
                this.createECharts(this.xData, this.yData);
            },
            createECharts (xData, yData) {
                option = {
                    color: ['#3398DB'],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow',
                        },
                        textStyle: {
                            fontSize: '30',
                        },
                        formatter: function (params) {
                            var value = params[0].value;
                            return '配速时间: </br>' + vm.getTimeFromSeconds(value);
                        },
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true,
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: xData,
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLine: {
                                lineStyle: {
                                    color: "#c7c8cb"
                                }
                            },
                            axisLabel: {
                                color: "#555558",
                                interval: 0,
                                fontSize: '30',
                            },
                            max: 10,
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            // 控制网格线是否显示
                            splitLine: {
                                show: false, 
                            },
                            axisLine: {
                                lineStyle: {
                                    color: "#c7c8cb"
                                }
                            },
                            axisLabel: {
                                formatter: function (value) {
                                    return vm.getTimeFromSeconds(value);
                                },
                                fontSize: '30',
                                color: "#555558",
                            }
                        }
                    ],
                    series: [
                        {
                            name: '配速时间',
                            itemStyle: {  
                                normal: {  
                                    color: function(params) {
                                        var colorList = [
                                            // 平均 ，最快， 最慢  
                                            '#b8b7be', '#62ddbd', '#fb7e8b',
                                        ];  
                                        if (yData[params.dataIndex] === yData.min()) {
                                            return colorList[1];
                                        }

                                        if (yData[params.dataIndex] === yData.max()) {
                                            return colorList[2];
                                        }
                                        return colorList[0];
                                    }
                                }  
                            },  
                            type: 'bar',
                            barWidth: '90%',
                            data: yData,
                            max: 100,
                        }
                    ]
                }
                eCharts.setOption(option);
            },
            // duration转换成 hh:mm:ss
            getTimeFromSeconds(totalSeconds, hasHour) {
                if (totalSeconds < 86400) {
                    var dt = new Date("01/01/2000 0:00");
                    dt.setSeconds(totalSeconds);
                    return formatTime(dt, hasHour);
                } else {
                    return null;
                }
            },
            cycleIconClass (pace) {
                var isMax = false;
                var isMin = false;
                if (pace === this.yData.min()) {
                    isMin = true;
                }

                if (pace === this.yData.max()) {
                    isMax = true;
                }

                return {    
                    'cycle-icon' : true,
                    'fast' : isMin,
                    'slow' : isMax,
                    'table-icon' : true,
                    'table-left-margin' : true,
                }
            }
        }
    })

    // 生成图表对象
    var eCharts = echarts.init(document.getElementById('chart'));

</script>
</html>
