<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        !function(e){function t(a){if(i[a])return i[a].exports;var n=i[a]={exports:{},id:a,loaded:!1};return e[a].call(n.exports,n,n.exports,t),n.loaded=!0,n.exports}var i={};return t.m=e,t.c=i,t.p="",t(0)}([function(e,t){"use strict";Object.defineProperty(t,"__esModule",{value:!0});var i=window;t["default"]=i.flex=function(e,t){var a=e||100,n=t||1,r=i.document,o=navigator.userAgent,d=o.match(/Android[\S\s]+AppleWebkit\/(\d{3})/i),l=o.match(/U3\/((\d+|\.){5,})/i),c=l&&parseInt(l[1].split(".").join(""),10)>=80,p=navigator.appVersion.match(/(iphone|ipad|ipod)/gi),s=i.devicePixelRatio||1;p||d&&d[1]>534||c||(s=1);var u=1/s,m=r.querySelector('meta[name="viewport"]');m||(m=r.createElement("meta"),m.setAttribute("name","viewport"),r.head.appendChild(m)),m.setAttribute("content","width=device-width,user-scalable=no,initial-scale="+u+",maximum-scale="+u+",minimum-scale="+u),r.documentElement.style.fontSize=a/2*s*n+"px"},e.exports=t["default"]}]);  flex(100, 1);
    </script>
    <script src="js/vue.js"></script>
    <title>数据统计</title>
    <link rel="stylesheet" href="css/normailze.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/runlist.css">
</head>
<body>
    <div id="app">
        <div class="header">
            <div class="header-wrap">
                <p class="list-title">{{year}}年度总里程：<span>{{year_total_distance/1000}}</span> KM</p>
                <span class="total_count">{{year_total_count}}条记录</span>
            </div>
            <div class="separate"></div>
        </div>
        <div class="content">
            <ul class="month-list">
                <!-- row -->
                <li class="month-li" v-for="model in modelArr">
                    <p class="list-title month-li-left-fix month-record-bottom-margin">{{model.month}}月总里程：<span>{{model.total_distance/1000}}</span> KM</p>
                    <span class="total_count month-li-right-fix">{{model.total_count}}条记录</span>
                    <ul class="record-list">
                        <li class="record-li" v-for="data in model.data" @click="cellDidSelect(data.run_id)">
                            <div class="record-wrap">
                                <p>{{timestampFormat(data.start_time)}}</p>
                                <span class="distance-val">{{ distanceUnitConvert(data.distance) }}</span>
                                <span class="distance-unit">KM</span>
                                <span class="record-time">{{ getTimeFromSeconds(data.duration) }}</span>
                                <i class="iconfont icon-arrow">&#xe610;</i>
                                <div class="separate month-li-left-fix month-record-top-margin"></div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="js/axios.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            'modelArr' : [],
            'year' : '',
            'year_total_count' : '',
            'year_total_distance' : '',
            'msg' : '',
        },
        created () {
            var data = { 'year' : 2017 };
            var bridge = window.webkit.messageHandlers.setListYear;
            bridge.postMessage(data);
        },
        methods: {
            test () {
                // console.log('hello world');
                this.msg = 'lixxxxxxxx!';
            },
            msg1() {
                return this.msg = 'lixxxxx';
            },
            // native设置year
            setYear (year) {
                var data = { 'year' : year };
                var bridge = window.webkit.messageHandlers.getListData;
                bridge.postMessage(data);
            },
            // 获取列表的数据
            getListData(data) {
                console.log(data);
                var currentDataArray = data.data;
                for (var i = 0; i < currentDataArray.length; i++) {
                    var obj = currentDataArray[i];
                    vm.modelArr.push(obj);
                }
                console.log(vm.modelArr);
                this.year_total_count = data.year_total_count;
                this.year_total_distance = data.year_total_distance;
                this.year = data.year;
            },
            // 列表里开始时间戳格式化
            timestampFormat (timestamp) {
                var newDate = new Date();
                newDate.setTime(timestamp * 1000);
                return newDate.format('yyyy-MM-dd hh:mm:ss');
            },
            // 列表的距离单位米 转化为千米
            distanceUnitConvert(distance) {
                return distance / 1000;
            },
            // duration转换成 hh:mm:ss
            getTimeFromSeconds(totalSeconds) {
                if (totalSeconds < 86400) {
                    var dt = new Date("01/01/2000 0:00");
                    dt.setSeconds(totalSeconds);
                    return formatTime(dt);
                } else {
                    return null;
                }
            },
            // cell的点击事件
            cellDidSelect (id) {
                var data = { 'id' : id };
                var bridge = window.webkit.messageHandlers.go2DetailController;
                bridge.postMessage(data);
            },
        }
    })

    Date.prototype.format = function(format) {
       var date = {
              "M+": this.getMonth() + 1,
              "d+": this.getDate(),
              "h+": this.getHours(),
              "m+": this.getMinutes(),
              "s+": this.getSeconds(),
              "q+": Math.floor((this.getMonth() + 3) / 3),
              "S+": this.getMilliseconds()
       };
       if (/(y+)/i.test(format)) {
              format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
       }
       for (var k in date) {
            if (new RegExp("(" + k + ")").test(format)) {
                format = format.replace(RegExp.$1, RegExp.$1.length == 1
                ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
            }
       }
       return format;
    }

    function formatTime(dt) {
        var h = dt.getHours(),
            m = dt.getMinutes(),
            s = dt.getSeconds(),
            r = "";
        if (h > 0) {
        }
        r += (h > 9 ? h.toString() : "0" + h.toString()) + ":";
        r += (m > 9 ? m.toString() : "0" + m.toString()) + ":"
        r += (s > 9 ? s.toString() : "0" + s.toString());
        return r;
    }

</script>
</html>
