@charset "UTF-8";
h1 {
  color: blueviolet; }

.img-wrap {
  margin: 50px; }

img {
  height: 15px;
  width: 15px;
  display: block;
  margin: 15px auto;
  transition-property: height;
  transition-duration: 1s;
  transition-delay: 1s;
  transition-timing-function: ease; }

img:hover {
  height: 450px;
  width: 450px; }

.rainbow-wrap:hover {
  animation: 1s rainbow 3 reverse; }

@keyframes rainbow {
  0% {
    background: #c00; }
  50% {
    background: orange; }
  100% {
    background: yellowgreen; } }

.rotate {
  display: block;
  width: 9em;
  height: 1em;
  margin: 1em auto;
  background: yellowgreen;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  animation-play-state: paused;
  -webkit-animation-play-state: paused; }

@keyframes spin {
  to {
    -webkit-transform: rotate(1turn); } }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(1turn); } }

.rotate:hover {
  animation-play-state: running;
  -webkit-animation-play-state: running; }

/* step动画 */
@-webkit-keyframes typing {
  from {
    width: 100%; }
  to {
    width: 0; } }

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: black; } }

@-moz-keyframes typing {
  from {
    width: 100%; }
  to {
    width: 0; } }

@-moz-keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: black; } }

.step-wrap {
  font-family: Consolas, monospace; }

.step-wrap h1 {
  position: relative;
  float: left;
  font-size: 150%;
  color: black; }

.step-wrap h1 span {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  background: white;
  border-left: .1em solid black;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: typing 5s steps(24, end), blink-caret 1s step-end infinite;
  -moz-animation: typeing 5s steps(24, end), blink-caret 1s step-end infinite; }
