h1 {
    color: blueviolet;
}

.img-wrap {
    margin: 50px;
}

// img{
//     height:15px;
//     width:15px;
//     display: block;
//     margin:15px auto;
//     transition: 1s height cubic-bezier(.83,.97,.05,1.44);
// }

// transition: 完整写法
img {
    height: 15px;
    width: 15px;
    display: block;
    margin: 15px auto;
    transition-property: height;
    transition-duration: 1s;
    transition-delay: 1s;
    transition-timing-function: ease;
}

img:hover{
    height: 450px;
    width: 450px;
}

.rainbow-wrap:hover {
    animation: 1s rainbow backwards;
}

@keyframes rainbow {
    0% { background: #c00; }
    50% { background: orange; }
    100% { background: yellowgreen; }
}
